<div class="container main-container animated fadeIn fast" *ngIf="pelicula">
    <div class="row" id="pelicula">
        <div class="col-8">
            <img [src]="'https://image.tmdb.org/t/p/original'+pelicula['backdrop_path']" alt="">
        </div>
        <div class="col-4">
            <h2>{{pelicula['original_title']}}</h2>
            <p>
                {{pelicula['overview']}}
            </p>
        
            <a [href]="pelicula['homepage']" target="blank" class="btn btn-outline-success">Ver</a>
        
            <h4>Generos</h4>
            <ul>
                <li *ngFor="let genero of pelicula.genres">{{genero.name}}</li>
            </ul>
        
            <button class="btn btn-outline-danger" (click)="regresar()">Regresar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <p>
                Fecha {{pelicula['release_date'] |date}}
            </p>
            <h4>Lenguajes</h4>
            <ul>
                <li *ngFor="let language of pelicula['spoken_languages']">{{language['name']}}</li>
            </ul>
        </div>
    </div>
</div>
